// _about-text.css
#about-text{
    span{
            color: #000;
            font-family: Open Sans;
            font-style: normal;
            font-size: 22px;
            line-height: 30px;
            a{
                color: #C32D30;
            }
    }
}