// _disctionary.scss
#dictionary-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 32px;
    min-height: 700px;
    background-color: #FFFFFF;
}

#result-display{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.result{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 16px 0px;
}

// No border at bottom for last element.
.result:nth-last-child(1){
    border-bottom: 0px solid #000;
}
.complete-word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 170px;
}

.japanese-word{
    display: flex;
    flex-direction: column;
    color: #000;
    .kanji{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 100%;
    }
    .hiragana{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
    }
}

.extra-tags{
    display: flex;
    flex-direction: column;
    span{
        font-family: Verdana;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
        margin: 2px 0px;
    }

    .jlpt-tag{
        width: 70px;
    }
    .common-word{
        background-color: #C32D30;
        width: 100px;
    }
}

.word-definitions{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    flex-grow: 1;
}


.definition{
    display: flex;
    flex-direction: column;
    padding: 4px 0px;

    span{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
    }

    .extra-definition{
        user-select: none;
        color: #C32D30;
        font-family: Open sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        padding-left: 6px;
}

    div:nth-child(1){
        span:nth-child(1){
            color: #000;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            padding-right: 8px;
        }
        span:nth-child(2){
            color: #C32D30;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
        }
    }

    div:nth-child(2){
        padding-left: 64px;
    }
}

// JLPT-tag colors.
.jlpt-n1{background-color: #DD571C;}
.jlpt-n2{background-color: #e2730b;}
.jlpt-n3{background-color: #e28c0b;}
.jlpt-n4{background-color: #e29e0b;}
.jlpt-n5{background-color: #FFBF00;}

// Responsive design for small screen sizes (usually mobile)
@media (max-width: 500px){
    .result{ flex-direction: column; padding: 8px 0px;}
    .complete-word{ flex-direction: row; justify-content: space-between; width: 100%;}
    .extra-tags{ padding: 20px 0px 0px 0px; align-items: flex-end;}
    #dictionary-wrapper{ padding: 8px 12px; }
    .definition div:nth-child(2){ padding-left: 28px;}
    #result-display{ font-size: 18px;}

    .japanese-word{
        .kanji{
            font-size: 36px;
        }
    }
}

// Extra wide screen optimization.
@media (min-width: 1250px){
    //#dictionary-wrapper{ padding: 8px 128px; }
    .definition{flex-direction: row;}

    .definition div:nth-child(2){
        padding-left: 32px;
    }
}